$background-color: white;
$primary-color: hsla(0, 0%, 100%, 0.6);
$highlight-color: white;

$cover-border-radius: 15%;
$global-padding: 5vw;

$normal-fontsize: 1em;
$small-fontsize: 0.8em;
$padding-horizontal: 15px;
$line-height: 40px;